a {
  color: inherit;
  text-decoration: none;
}

.item {
  margin: 0;
  padding-left: 5vw;
  .content {
    display: inline-block;
    .delete {
      display: none;
      }
  }
}

.item:hover 
.delete {
  display: block;
}

