header {
  display: flex;
  height: 30vh;
  padding-top: 10vh;
  padding-left: 5vw;
  margin: 0;
}

html {
  background-color: #efefef;
  margin: 0; 
  padding: 0;
  line-height: 1.15;
  font-family: sans-serif;
}
